.dashboard {
    display: flex;
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
  }

  .main-content {
    margin-top: 72px; /* Height of the header */
    width: auto;
    flex-grow: 1;
    overflow-y: auto; /* Scrollable content */
    z-index: 800;
    background-color: #f4f4f4; /* Example background color */
  }