.header {
  background-color: white;
  box-shadow: -5px 3px 7px 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 72px;
  z-index: 900;
  display: flex;
  justify-content: space-between;
}

.right-section {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: auto;
  margin-bottom: auto;
}

.wallet {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  height: 50%;
  border-right: 0.7px solid LightGray;
  padding: 0 2rem;
}

.wallet img {
  width: 24px; /* Adjust the width to make the icon smaller */
  height: auto;
}

.user {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  align-items: center;
  padding: 0 2rem;
  text-decoration: none;
}

.user:visited {
  color: black;
}

.icon-button {
  padding: 0 1rem 0 0;
}

